<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <title>Java Getting Started on Heroku</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li>
                    <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/HP/1.epub">1 Harry Potter And The Sorcerer's Stone</a></li>
                        <li><a href="/HP/2.epub">2 Harry-Potter And The Chamber Of Secrets</a></li>
                        <li><a href="/HP/3.epub">3 Harry-Potter And The Prisoner Of Azkaban</a></li>
                        <li><a href="/HP/4.epub">4 Harry-Potter And The Goblet Of Fire</a></li>
                        <li><a href="/HP/5.epub">5 Harry-Potter And The Order Of The Phoenix</a></li>
                        <li><a href="/HP/6.epub">6 Harry-Potter And The Half Blood Prince</a></li>
                        <li><a href="/HP/7.epub">7 Harry-Potter And The Deathly Hallows</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right">
                    <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:replace="${template}"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>