<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'db')}">
<body>
	<div class="container">
		<H1 class="translate-middle" th:text="${qr}"></H1>
	</div>

	<div th:each="y : ${#numbers.sequence( 1, qr.size)}">
		<div th:each="x : ${#numbers.sequence( 1, qr.size)}">

			<!-- IF -->
			<span th:if="${qr.getModule(x, y)}"> * </span>
			<!-- ELSE -->
			<span th:unless="${qr.getModule(x, y)}"> &nbsp; </span>

		</div>
	</div>
</body>
</html>
